:root {
    --background-color: #403d39;
    --light-color: #fffcf2;
    --dark-color: #252422;
    --dark-color--active: #31302f;
    --orange-color: #eb5e28;
    --faint-grey-color: #e6e6e6;
    --faint-grey-color--active: #cccccc;
    --offcanvas-color: #ccc5b9;
    --danger-color: #ff5566;
    --danger-color--active: #ff6f7d;
    --primary-color: #50abff;
    --primary-color--active: #78beff;

    --round-1: 8px;
    --round-2: 16px;

    --speed-1: .5s;

    --fs-1: 1rem;
    --fs-2: 1.2rem;
    --fs-3: 1.5rem;
    --fs-4: 2rem;
    --fs-5: 3rem;
}
